<footer id="footer">

  <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h4>انضم إلى نشرتنا الإخبارية</h4>
          <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact text-center">
          <h3>
            منصة الوفاء التعليمية
          </h3>
          <p>
            عمان <br>
            الجبيهة -شارع ياجوز<br>
            إشارات المنهل- المنهل <br><br>
            <strong>رقم الهاتف</strong> 00962798398955<br>
             info@allwafa.com <strong>البريد الالكتروني</strong>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links text-center ">
          <h4>روابط سريعة</h4>
          <ul>
            <li><a id="scroll-to-top-link">الرئيسية</a><i class="bx bx-chevron-right scroll-to-top"></i> </li>
            <li><a routerLink="/about">حول منصة الوفاء</a><i class="bx bx-chevron-right"></i> </li>
            <li><a routerLink="/services">الاقسام الرئيسية</a><i class="bx bx-chevron-right"></i> </li>
            <li><a routerLink="/portfolio">الدورات</a><i class="bx bx-chevron-right"></i> </li>
            <li><a routerLink="/contact">اتصل بنا</a><i class="bx bx-chevron-right"></i> </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links text-center">
          <h4>الاقسام الرئيسية</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">البرمجة</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">اللغات</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">الذكاء الاصطناعى</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">التسويق</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links text-center">
          <h4>Our Social Networks</h4>
          <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="https://web.facebook.com/AlwafaSocietyjo/" target="_blank"  class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="https://www.linkedin.com/in/alwafa-society-775181248" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
       copyright © <strong><span>2022 </span></strong>. ALL RIGHTS RESERVED
    </div>
    
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</footer>



<script>
  document.addEventListener('DOMContentLoaded', function() {
    const scrollToTopLink = document.getElementById('scroll-to-top-link');

    scrollToTopLink.addEventListener('click', function(e) {
      e.preventDefault(); // Prevent the default link behavior

      // Scroll smoothly to the top of the page
      window.scrollTo({
        top: 0,
        behavior: 'smooth'
      });
    });
  });
</script>
