<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>اتصل بنا</h2>
      <p>
        ابقــى على تواصل مع جمعية الوفاء وارسل ملاحظاتك لنا
      </p>
    </div>

    <div class="row">

      <div class="col-lg-5 d-flex align-items-stretch text-center">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>الموقع</h4>
            <p>
              عمان - الجبيهة -شارع ياجوز-إشارات المنهل- المنهل سنتر- الطابق الرابع - مكتب 406
            </p>
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>
              البريد الالكتروني
            </h4>
            <p>info@allwafa.com</p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>رقم الهاتف</h4>
            <p>00962798398955</p>
          </div>

          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d54135.78799394615!2d35.8183237!3d32.0019262!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151c9f2da6e46f1f%3A0x82ab2d2ad4317a2e!2z2KzZhdi52YrYqSDYp9mE2YjZgdin2KEg2YTZhNiq2YbZhdmK2Kkg2KfZhNio2LTYsdmK2Kk!5e0!3m2!1sar!2sjo!4v1660408270133!5m2!1sar!2sjo" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
        </div>

      </div>

      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch text-end">
        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="name">البريد الالكتروني</label>
              <input type="email" class="form-control" name="email" id="email" required>
            </div>
            <div class="form-group col-md-6">
              <label for="name">الاسم</label>
              <input type="text" name="name" class="form-control" id="name" required>
            </div>
          </div>
          <div class="form-group">
            <label for="name">الموضوع</label>
            <input type="text" class="form-control" name="subject" id="subject" required>
          </div>
          <div class="form-group">
            <label for="name">الرسالة</label>
            <textarea class="form-control" name="message" rows="10" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">جاري ارسال الرسالة</div>
            <div class="error-message"></div>
            <div class="sent-message">تم ارسال رسالتك بنجاح</div>
          </div>
          <div class="text-center"><button type="submit">ارسل رساالة</button></div>
        </form>
      </div>

    </div>

  </div>
</section>
