<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>حول جمعية الوفاء</h2>
    </div>

    <div  class="row  content" >

      <div class="col-lg-6 pt-4 pt-lg-0">
        <p style=" direction: rtl; text-align: right;">
          متابعة احتياجات سوق العمل المتجددة والتطورات الفنية في كافة المجالات مثل ، تكنولوجيا المعلومات والذكاء الصناعي وكيفية معالجة البيانات الضخمة لتحويلها الى معلومات مفيدة ، والأساليب الإدارية الحديثة ولغات الحاسوب والبرمجيات الحديثة .
        </p>
       
          <a href="#" style="float: right;" class="btn-learn-more">Learn More</a>
        
      </div>



      <div class="col-lg-6">
        <p style=" direction: rtl; text-align: right; ">
          تعمل جمعية الوفاء للتنمية البشرية بأن تكون الأسم الأكثر شهرة في مجال التدريب في الأردن ، وخصوصاً الدورات التدريبية المصممة لتدريب طلاب الجامعات الأردنية وخريجيها لتأهيلهم للحصول على فرص العمل المتاحة محلياً ودولياً.

        </p>
        <ul>
          <li style=" direction: rtl; text-align: right;"><i class="ri-check-double-line"></i>
          تعزيز القدرات والمهارات الفنية والمهنية للشباب ما بين سن الخامسة عشرة سنة الى سن الثلاثين سنة .</li>
          <li style=" direction: rtl; text-align: right;"><i class="ri-check-double-line">
                 </i> رفع قدرات الطلاب في لغات الحاسوب والبرمجيات واللغة الإنجليزية للصفوف العاشر والأول ثانوي.</li>
          <li style=" direction: rtl; text-align: right;"><i class="ri-check-double-line">
                 </i> تقديم المنح للطلبة من ذوي الدخول المتدنية لمساعدتهم لمواصلة تعليمهم الجامعي.</li>
        </ul>
      </div>
    </div>
    
  </div>
</section>
